@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);
* {
    width: 100%;
    font-family: 'Fira Code', monospace;
    box-sizing: border-box;
    font-size: 17px;
}

body{
    background-color: #808075;
}

.mainGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr [col-start]);
}

.mainItem {
    grid-column: 2 / span 1;
}

.containter {
    max-width: 400px;
    min-width: 400px;
}

.remoteBg {
    background-color: #D0D0D0;
    border: 0.2em solid #BCBCBC;
    width: 100%;
    margin: auto;
    border-radius: 2em;
    padding: 0.5em;
    padding-top: 1.5em;
    padding-bottom: 1em;
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr [col-start]);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: blue;
}

button {
    color: black;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(222, 222, 222, 0.8) 100%);
    width: 95%;
    height: 95%;
    border-radius: 100%;
    transition-duration: 0.3s;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    outline: none;
    box-shadow: 0px 0px 10px gray;
    border: none;
    font-size: 0.9em;
}

button.red {
    background: radial-gradient(circle, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 100%);
}

button.red2 {
    background: radial-gradient(circle, rgba(255, 76, 39, 1) 0%, rgba(0, 0, 0, 0.8) 100%);
}

button.red3 {
    background: radial-gradient(circle, rgba(255, 99, 67, 1) 0%, rgba(0, 0, 0, 0.8) 100%);
}

button.red4 {
    background: radial-gradient(circle, rgba(255, 177, 131, 1) 0%, rgba(0, 0, 0, 0.8) 100%);
}

button.red5 {
    background: radial-gradient(circle, rgba(255, 255, 0, 1) 0%, rgba(0, 0, 0, 0.8) 100%);
}

button.green {
    background: radial-gradient(circle, rgba(0, 255, 55, 1) 0%, rgba(0, 0, 0, 0.8) 100%);
}

button.green1 {
    background: radial-gradient(circle, rgba(148, 255, 117, 1) 0%, rgba(0, 0, 0, 0.8) 100%);
}

button.green2 {
    background: radial-gradient(circle, rgb(0, 225, 255) 0%, rgba(0, 0, 0, 0.8) 100%);
}

button.green3 {
    background: radial-gradient(circle, rgb(50, 139, 255) 0%, rgba(0, 0, 0, 0.8) 100%);
}

button.green4 {
    background: radial-gradient(circle, rgb(38, 0, 255) 0%, rgba(0, 0, 0, 0.8) 100%);
}

button.blue {
    background: radial-gradient(circle, rgba(3, 0, 255, 1) 0%, rgba(0, 0, 0, 0.8) 100%);
}

button.blue1 {
    background: radial-gradient(circle, rgb(47, 10, 255) 0%, rgba(0, 0, 0, 0.8) 100%);
}

button.blue2 {
    background: radial-gradient(circle, rgb(57, 0, 126) 0%, rgba(0, 0, 0, 0.8) 100%);
}

button.blue3 {
    background: radial-gradient(circle, rgb(122, 21, 255) 0%, rgba(0, 0, 0, 0.8) 100%);
}

button.blue4 {
    background: radial-gradient(circle, rgb(226, 129, 255) 0%, rgba(0, 0, 0, 0.8) 100%);
}

button.white {
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(222, 222, 222, 0.8) 100%);
}

button.switch-item {
    grid-column: 3 / span 2;
    background-color: transparent;
    background: none;
    border: none;
    box-shadow: none;
    padding: none;
    margin: none;
}

button.darker-item {
    grid-column-start: 2;
    grid-column-end: span 1;
}

button.lighter-item {
    grid-column-start: 1;
    grid-column-end: span 1;
}

.switch {
    position: relative;
    display: inline-block;
    width: 11em;
    height: 4em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 3.2em;
    width: 3.2em;
    left: 0.5em;
    bottom: 0.4em;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(6.8em);
    -ms-transform: translateX(6.8em);
    transform: translateX(6.8em);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}